h1 {
	color: #FF8000;
	border:5px solid pink;
}

li {
	color: RGB(200, 0,200);
}

h4 {
	background: RGB(66, 182, 244)
	
}

body{

    background: url(http://cats.ava7.com/w/cats-and-friends/black-domestic-kitten-and-labrador-puppy-looking-at-each-other.jpg
		
		)

}
